@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}
header {
  font-family: "Montserrat", sans-serif;
  background-image: url(/images/banner.jpg);
  background-size: 100%;
}
#logo {
  background-color: black;
  padding: 1.5em;
}
#title {
  text-align: center;
  padding: 6em 0 10em 0;
}
#title h1 {
  color: #25a2c3;
  font-weight: bold;
  line-height: 1.2;
  font-size: 2em;
  padding: 0.5em 0;
}
#title p {
  padding: 0.5em 17em 0.5em 17em;
}

#btn1 {
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 2em 0;
  padding: 1em 2.5em;
  border-radius: 5px;
}
#article {
  display: inline;
  position: absolute;
}
#article h2 {
  display: inline;
  color: #25a2c3;
  font-weight: bold;
}

#article p {
  display: inline;
  font-size: 1em;
}
#article ul {
  list-style: none;
  line-height: 2;
  margin-top: 8em;
  padding-right: 22em;
}
.p-space {
  margin-bottom: 1.3em;
}

#img-rounded {
  border-radius: 50%;
  margin: 6em 0;
  margin-left: 10em;
  margin-right: 4em;
}
#section-orange {
  color: white;
  background-color: #e22d0e;
  text-align: center;
}

#section-orange h2 {
  color: white;
  font-size: 2em;
  padding-top: 3em;
  font-weight: bold;
}
#section-orange p:first-of-type {
  font-style: italic;
  padding: 0.8em 0em;
  font-size: 1.6em;
}

#section-orange p span {
  font-size: 1.1em;
}
#section-orange p:last-of-type {
  font-size: 0.8em;
  padding-bottom: 8em;
  margin-bottom: 0;
}

.img-box1 {
  width: 24%;
  margin: 3em 1em 1em 10em;
}
.img-box2 {
  width: 24%;
  margin: 1em 1em;
}
.img-box3 {
  width: 24%;
  margin: 1em 4em 1em 1em;
}
.boxx {
  display: inline;
}
.box {
  border-right: 1px rgb(215, 214, 214) solid;
  border-bottom: 1px rgb(215, 214, 214) solid;
  border-left: 1px rgb(215, 214, 214) solid;
  display: inline;
}
.box h2 {
  display: inline;
  color: #25a2c3;
  font-weight: bold;
  margin: 0.5em 0;
}
.box p {
  display: inline;
  padding: 0 1em 0 1em;
}

footer {
  text-align: center;
  background-color: #25a2c3;
  margin-top: 4em;
}
footer h2 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding: 1.4em 0 0.2em 0;
}

footer a,
footer li,
footer p {
  color: #c8e7f0;
}

.fa-phone-square-alt {
  color: white;
  padding-right: 0.2em;
}
.fa-envelope-square {
  color: white;
  padding-right: 0.2em;
}
.fa-external-link-square-alt {
  color: white;
  padding-right: 0.2em;
}

footer li:last-of-type {
  margin-bottom: 1.4em;
}

hr {
  color: white;
  width: 18%;
}

footer p {
  padding: 1.4em 0 5em 0;
}

#p-space {
  margin-bottom: 2em;
}
